 
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(57, 63, 129, 1); 
    padding: 10px; 
  }
  
  .footer-content {
    text-align: center; 
  }
  